{% extends "base.html" %}

{% block content %}
    {% if products %}
        <div class="products">
            {% for product in products %}
                <div class="product">
                    <div class="product__wrapper">
                        <div class="product__preview-container">
                            <img src="{{ product.image_path }}" alt="Товар {{ product.id }}" class="product__preview-image">
                        </div>
                        <a href="{{ product.link }}">
                            <div class="product__name">{{ product.brand_name }} {{ product.name }}</div>
                            <div class="product__info">
                                <div class="product__clicks">{{ product.clicks }} переходов</div>
                                <div class="product__rating">
                                    {% if product.rating %}
                                        {{ product.rating }}
                                        <img src="/static/img/star.svg" alt="">
                                    {% else %}
                                        оценок нет
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        Запрашиваемой категории не существует, либо в ней нет товаров
    {% endif %}
{% endblock %}
