{% extends "base.html" %}

{% block content %}
    <div class="admin">
        <div class="admin__tables">
            <span class="admin__caption">Менеджмент базы данных</span>
            <a href="/rulehere/brands" class="admin__tables-table">Бренды</a>
            <a href="/rulehere/categories" class="admin__tables-table">Категории</a>
            <a href="/rulehere/products" class="admin__tables-table">Товары</a>
            <a href="/rulehere/reviews" class="admin__tables-table">Отзывы</a>
            <a href="/rulehere/replies" class="admin__tables-table">Ответы</a>
        </div>
        <div class="admin__ads">
            <span class="admin__caption">Реклама на страницах</span>
            {% for ad in ads_for_admin %}
                <div class="admin__ads-page">
                    <span class="admin__caption-small">{{ ad.name }}</span>
                    <form method="POST" action="{{ request.url.path }}" enctype="multipart/form-data">
                        <input type="hidden" name="ads_page_id" value="{{ ad.page_id }}">
                        <label>
                            <input type="checkbox" name="ads_split" {% if ad.split %} checked {% endif %}>
                            Разделить на 2 блока
                        </label>
                        <label>
                            Ссылка первого блока:
                            <input type="url" name="ads_link1" value="{% if ad.link1 %} {{ ad.link1 }} {% endif %}">
                        </label>
                        <label>
                            Первый блок (к отображению, если блок один)
                            <input type="file" name="ads_image1">
                        </label>
                        <label>
                            Ссылка второго блока:
                            <input type="url" name="ads_link2" value="{% if ad.link2 %} {{ ad.link2 }} {% endif %}">
                        </label>
                        <label>
                            Второй блок
                            <input type="file" name="ads_image2">
                        </label>
                        <label>
                            <input type="checkbox" name="ads_enabled" {% if ad.enabled %} checked {% endif %}>
                            Включить
                        </label>
                        <input type="submit" name="submit" value="Обновить" class="btn-action-small">
                    </form>
                </div>
            {% endfor %}
        </div>
        {#
        <div class="admin__links">
            <span class="admin__caption">Ссылки бокового меню</span>
        </div>
        #}
    </div>
{% endblock %}
